<div class="panel panel-default">
  <div class="panel-body padding-top-15">
    <%= form_for :department, url: department_path(@department.id), method: 'patch', remote: 'true' do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
  
      <div class="panel-footer">
        <%= submit_tag 'Save', class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>