<h1>About Me</h1>
<div id="about_text" class="row">
  <div class="col-sm-6 col-xs-12">
    <p class="text-justify">
      This is Ahmed Bahaggag. I'm a professional developer who is interested in developing different types of applications web,desktop, mobile and games.
      At the moment I'm focusing on Web Development using ASP.NET and Ruby on Rails. I'm working currently as Rails Developer in ClickApps company.
    </p>
    
    <p class="text-justify">
      My goal is to reach a high level in software architecture and programming using latest technologies
      available in famous frameworks like .NET, Java and Rails Frameworks.
    </p>
    <p class="text-justify">
      I like discovering new technologies and reading technology related books. The topics that I read is divided into
      two categories. The first one is on Software Analysis and Design and Arthitecture. The second category is Technology-based
      books which focuses on differernt types technologies that are used to build different types of applications.
    </p>
  </div>
  <div class="col-sm-6 col-xs-12">
    <%= image_tag 'aaab.png', alt: 'Ahmed Bahaggag', height: '90%', width: '90%', class: 'img-responsive img-rounded' %>
    <ul class="list-inline">
      <li><strong>Email:</strong> a.bahaggag@clickapps.co</li>
      <li><strong>Mobile:</strong> 00967777150201</li>
    </ul>
  </div>
</div>