<div class="jumbotron hero-spacer">
  <strong><h1>Welcome to Test Techniques</h1></strong>
  <small><h3><strong>Your way to master Ruby on Rails Techniques</strong></h3></small>
  <br>
  <small>
    <p>
      Hello everyone .. This website will give you a practical examples for Ruby on Rails framewrok. Each example will forcus
      on specific ideas and implementations that can be done with rails.
    </p>
  </small>
  <br>
  <%= link_to 'Go to Examples', { action: 'examples' }, class: 'btn btn-primary btn-lg' %>
  
</div>